<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup"><span>o</span>Regístrate</h2>
            <form method="POST" action="/register" class="form-holder">
                <input type="text" class="input" name="username" placeholder="Usuario" required />
                <input type="password" class="input" name="password" placeholder="Contraseña" required />
                <input type="password" class="input" name="confirm_password" placeholder="Confirmar Contraseña" required />
                <button type="submit" class="submit-btn">Regístrate</button>
            </form>
        </div>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login"><span>o</span>Inicia Sesión</h2>
                <form method="POST" action="/login" class="form-holder">
                    <input type="text" class="input" name="username" placeholder="Usuario" required />
                    <input type="password" class="input" name="password" placeholder="Contraseña" required />
                    <button type="submit" class="submit-btn">Inicia Sesión</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>